aiofiles==0.8.0
altgraph==0.17.2
APScheduler==3.9.1
backports.zoneinfo==0.2.1
certifi==2021.10.8
cfg4py==0.9.2
charset-normalizer==2.0.12
click==8.0.4
comtypes==1.1.11
cssselect==1.1.0
easyutils==0.1.7
fire==0.4.0
Flask==2.0.3
httptools==0.4.0
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
lxml==4.8.0
macholib==1.15.2
MarkupSafe @ file:///Users/xiaohuzi/Library/Caches/pypoetry/artifacts/cd/11/54/fd481eec49cddc06876e526483e7ee8675d0910fed2aa7668a9fc88e62/MarkupSafe-2.0.1-cp38-cp38-macosx_10_9_x86_64.whl
multidict==5.2.0
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
pyparsing==3.0.7
pyquery==1.4.3
pytesseract==0.3.9
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywinauto==0.6.6
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sanic-routing==0.7.2
six==1.16.0
termcolor==1.1.0
tzdata==2021.5
tzlocal==4.1
ujson==5.1.0
urllib3==1.26.8
uvloop==0.16.0
watchdog==2.1.6
websockets==10.2
Werkzeug==2.0.3
